/* 일기 내용 폰트 */
@font-face {
	font-family: 'KyoboHand';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
/* 그 외 폰트 */
@font-face {
	font-family: 'LeeSeoyun';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: #f6f6f6;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'LeeSeoyun';
	min-height: 100vh;
	margin: 0;
}

@media (min-width: 650px) {
	.App {
		width: 640px;
	}
}

@media (max-width: 650px) {
	.App {
		width: 90vw;
	}
}

#root {
	background-color: #fafafa;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
	min-height: 100vh;
	padding-left: 20px;
	padding-right: 20px;
}

/* MyButton */
.MyButton {
	cursor: pointer;
	border: none;
	border-radius: 5px;

	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;

	font-size: 18px;

	white-space: nowrap;
	font-family: 'LeeSeoyun';
	transition: 0.5s;
}

.MyButton_default {
	background-color: transparent;
	color: black;
}

.MyButton_default:hover {
	padding-top: 0;
	padding-bottom: 0;
	font-size: 24px;
}

.MyButton_hidden {
	background-color: transparent;
	color: transparent;
	cursor: default;
}

.MyButton_positive {
	background-color: #a9d8b9;
	color: black;
}

.MyButton_nagative {
	background-color: #fec7c7;
	color: black;
}

/* HEADER */
header {
	padding-top: 20px;
	padding-bottom: 20px;

	display: flex;
	align-items: center;
	border-bottom: 1px solid #e2e2e2;
}

header > div {
	display: flex;
}

header .head_text {
	width: 50%;
	font-size: 25px;
	justify-content: center;
}

header .head_btn_left {
	width: 25%;
	justify-content: start;
}

header .head_btn_right {
	width: 25%;
	justify-content: end;
}

header button {
	font-family: 'LeeSeoyun';
}

/* DiaryList */
.DiaryList .menu_wrapper {
	margin-top: 20px;
	margin-bottom: 30px;

	display: flex;
	justify-content: space-between;
}

.DiaryList .menu_wrapper .right_col {
	flex-grow: 1;
}

.DiaryList .menu_wrapper .right_col button {
	width: 100%;
}

.DiaryList .ControlMenu {
	margin-right: 10px;
	border: none;
	border-radius: 5px;
	background-color: #ececec;

	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;

	cursor: pointer;
	font-family: 'LeeSeoyun';
	font-size: 18px;
	outline-style: none;
}
.DiaryList .ControlMenu:hover {
	background-color: #86b4e7;
	color: #fafafa;
}

/* DiaryItem */
.DiaryItem {
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 5px dashed #e2e2e2;
}

.DiaryItem .info_wrapper {
	display: flex;
	justify-content: space-between;
}

.DiaryItem .emotion_img_wrapper {
	min-width: 48px;
	height: 48px;
	display: flex;
	justify-content: center;
	cursor: pointer;
	margin-left: 10px;
}

.DiaryItem .diary_date {
	cursor: pointer;
	flex-direction: column;
	margin-left: 20px;
	font-weight: bold;
	white-space: nowrap;
}

.DiaryItem .diary_date .date {
	font-size: 20px;
	margin-bottom: 8px;
}

.DiaryItem .diary_date .day {
	font-size: 18px;
	color: gray;
	opacity: 0.7;
}

.DiaryItem .info_content {
	font-family: 'KyoboHand';
	font-size: 18px;
	cursor: pointer;

	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 30px;
	flex-grow: 1;
	transition: 0.5s;
}

.highlight:hover {
	display: inline;
	box-shadow: inset 0 -10px 0 #fee5ac; /*-10px은 highlight의 두께*/
	transition: 0.5s;
}

.btn_wrapper {
	margin-top: 3px;
}

.btn_wrapper .MyButton_default:hover {
	padding-top: 10px;
}

/* DiaryEditor */

.DiaryEditor section {
	margin-bottom: 40px;
}

.DiaryEditor h4 {
	font-size: 22px;
	font-weight: bold;
	padding-left: 10px;
}

.DiaryEditor .input_date {
	border: none;
	border-radius: 5px;
	background-color: #ececec;

	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;

	cursor: pointer;

	font-family: 'LeeSeoyun';
	font-size: 16px;
	outline-style: none;
}

.DiaryEditor .input_date:hover {
	background-color: #fee5ac;
}

.DiaryEditor .input_box_emotion_list_wrapper {
	display: grid;
	grid-template-columns: repeat(5, auto);
	gap: 2%;
}

.DiaryEditor textarea {
	font-family: 'KyoboHand';
	font-size: 20px;

	box-sizing: border-box;
	width: 100%;
	min-height: 200px;
	resize: vertical;

	border: none;
	border-radius: 5px;
	background-color: #ececec;
	outline-color: #86b4e7;

	padding: 20px;
}

.DiaryEditor .control_box {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* EmotionItem */

.EmotionItem {
	cursor: pointer;

	border-radius: 5px;
	padding-top: 20px;
	padding-bottom: 20px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.EmotionItem img {
	width: 50%;
	margin-bottom: 10px;
}

.EmotionItem span {
	font-size: 20px;
}

.EmotionItem .highlight {
	display: inline;
	box-shadow: inset 0 -10px 0 #fee5ac; /*-10px은 highlight의 두께*/
	transition: 0.5s;
}
